<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.yutao.kissandroid">

    <!-- 访问wifi状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 打开关闭wifi的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 经过测试，打开关闭wifi不需要这个权限 -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name=".KaListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".wifi.WifiActivity"
            android:label="@string/wifi_activity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

    </application>

</manifest>
